.elementor-nav-menu--main .elementor-nav-menu a {
  transition: 0.4s; }
  .elementor-nav-menu--main .elementor-nav-menu a, .elementor-nav-menu--main .elementor-nav-menu a:hover, .elementor-nav-menu--main .elementor-nav-menu a:focus, .elementor-nav-menu--main .elementor-nav-menu a.highlighted {
    padding: 13px 20px; }
  .elementor-nav-menu--main .elementor-nav-menu a.current {
    background: #373a3c;
    color: #fff; }
  .elementor-nav-menu--main .elementor-nav-menu a.disabled {
    background: #55595c;
    color: #a1a6a9; }

.elementor-nav-menu--main .elementor-nav-menu ul {
  position: absolute;
  width: 12em;
  border-width: 0;
  border-style: solid;
  padding: 0; }

.elementor-nav-menu--main .elementor-nav-menu span.scroll-up,
.elementor-nav-menu--main .elementor-nav-menu span.scroll-down {
  position: absolute;
  display: none;
  visibility: hidden;
  overflow: hidden;
  background: #fff;
  height: 20px; }

.elementor-nav-menu--main .elementor-nav-menu span.scroll-up-arrow, .elementor-nav-menu--main .elementor-nav-menu span.scroll-down-arrow, .elementor-nav-menu--main .elementor-nav-menu span.scroll-down-arrow {
  position: absolute;
  top: -2px;
  left: 50%;
  margin-left: -8px;
  width: 0;
  height: 0;
  overflow: hidden;
  border-width: 8px;
  border-style: dashed dashed solid dashed;
  border-color: transparent transparent #494c4f transparent; }

.elementor-nav-menu--main .elementor-nav-menu span.scroll-down-arrow {
  top: 6px;
  border-style: solid dashed dashed dashed;
  border-color: #494c4f transparent transparent transparent; }

.elementor-nav-menu--main .elementor-nav-menu--dropdown .sub-arrow i {
  transform: rotate(-90deg); }

.elementor-nav-menu--layout-horizontal {
  display: flex; }
  .elementor-nav-menu--layout-horizontal .elementor-nav-menu {
    display: flex;
    flex-wrap: wrap; }
    .elementor-nav-menu--layout-horizontal .elementor-nav-menu a {
      white-space: nowrap; }

.elementor-nav-menu__align-right .elementor-nav-menu {
  margin-left: auto;
  justify-content: flex-end; }

.elementor-nav-menu__align-right .elementor-nav-menu--layout-vertical > ul > li > a {
  justify-content: flex-end; }

.elementor-nav-menu__align-left .elementor-nav-menu {
  margin-right: auto;
  justify-content: flex-start; }

.elementor-nav-menu__align-left .elementor-nav-menu--layout-vertical > ul > li > a {
  justify-content: flex-start; }

.elementor-nav-menu__align-center .elementor-nav-menu {
  margin-left: auto;
  margin-right: auto;
  justify-content: center; }

.elementor-nav-menu__align-center .elementor-nav-menu--layout-vertical > ul > li > a {
  justify-content: center; }

.elementor-nav-menu__align-justify .elementor-nav-menu--layout-horizontal .elementor-nav-menu {
  width: 100%; }
  .elementor-nav-menu__align-justify .elementor-nav-menu--layout-horizontal .elementor-nav-menu > li {
    flex-grow: 1; }
    .elementor-nav-menu__align-justify .elementor-nav-menu--layout-horizontal .elementor-nav-menu > li > a {
      justify-content: center; }

.elementor-widget-kitten_navigation_menu:not(.elementor-nav-menu--toggle) .elementor-menu-toggle {
  display: none; }

.elementor-widget-kitten_navigation_menu .elementor-widget-container {
  display: flex;
  flex-direction: column; }

.elementor-nav-menu {
  position: relative;
  z-index: 2; }
  .elementor-nav-menu:after {
    content: "\00a0";
    display: block;
    height: 0;
    font: 0px/0 serif;
    clear: both;
    visibility: hidden;
    overflow: hidden; }
  .elementor-nav-menu,
  .elementor-nav-menu ul,
  .elementor-nav-menu li {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: normal;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
  .elementor-nav-menu ul {
    display: none; }
    .elementor-nav-menu ul ul a,
    .elementor-nav-menu ul ul a:hover,
    .elementor-nav-menu ul ul a:focus,
    .elementor-nav-menu ul ul a:active {
      border-left: 16px solid transparent; }
    .elementor-nav-menu ul ul ul a,
    .elementor-nav-menu ul ul ul a:hover,
    .elementor-nav-menu ul ul ul a:focus,
    .elementor-nav-menu ul ul ul a:active {
      border-left: 24px solid transparent; }
    .elementor-nav-menu ul ul ul ul a,
    .elementor-nav-menu ul ul ul ul a:hover,
    .elementor-nav-menu ul ul ul ul a:focus,
    .elementor-nav-menu ul ul ul ul a:active {
      border-left: 32px solid transparent; }
    .elementor-nav-menu ul ul ul ul ul a,
    .elementor-nav-menu ul ul ul ul ul a:hover,
    .elementor-nav-menu ul ul ul ul ul a:focus,
    .elementor-nav-menu ul ul ul ul ul a:active {
      border-left: 40px solid transparent; }
  .elementor-nav-menu li,
  .elementor-nav-menu a {
    position: relative; }
  .elementor-nav-menu li {
    border-width: 0; }
  .elementor-nav-menu a {
    display: flex;
    align-items: center; }
    .elementor-nav-menu a, .elementor-nav-menu a:hover, .elementor-nav-menu a:focus {
      padding: 10px 20px;
      line-height: 20px; }
    .elementor-nav-menu a.current {
      background: #373a3c;
      color: #fff; }
    .elementor-nav-menu a.disabled {
      cursor: not-allowed;
      color: #a1a6a9; }
  .elementor-nav-menu--indicator-none .elementor-nav-menu .elementor-item.has-submenu {
    padding-right: 20px; }
    .elementor-nav-menu--indicator-none .elementor-nav-menu .elementor-item.has-submenu .sub-arrow {
      display: none; }
  .elementor-nav-menu--indicator-plus:before {
    font-family: "Open Sans", sans-serif; }
  .elementor-nav-menu--indicator-chevron .elementor-nav-menu .sub-arrow {
    font-size: 10px; }
    .elementor-nav-menu--indicator-chevron .elementor-nav-menu .sub-arrow i:before {
      content: ''; }
  .elementor-nav-menu--indicator-angle .elementor-nav-menu .sub-arrow i:before {
    content: ''; }
  .elementor-nav-menu--indicator-classic .elementor-nav-menu .sub-arrow i:before {
    content: ''; }
  .elementor-nav-menu--indicator-plus .elementor-nav-menu .sub-arrow i:before {
    content: '+'; }
  .elementor-nav-menu .sub-arrow {
    font-size: 16px;
    line-height: 1;
    padding: 10px 0 10px 10px;
    margin-top: -10px;
    margin-bottom: -10px; }
    .elementor-nav-menu .sub-arrow i {
      pointer-events: none; }

.elementor-nav-menu--dropdown .elementor-item:hover, .elementor-nav-menu--dropdown .elementor-item:focus, .elementor-nav-menu--dropdown .elementor-item.highlighted, .elementor-nav-menu--dropdown .elementor-item.elementor-item-active,
.elementor-sub-item:hover,
.elementor-sub-item:focus,
.elementor-sub-item.highlighted,
.elementor-sub-item.elementor-item-active {
  background-color: #55595c;
  color: #fff; }

.elementor-menu-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  padding: 0.25em;
  cursor: pointer;
  border: 0 solid;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.05);
  color: #494c4f; }
  .elementor-menu-toggle.elementor-active i:before {
    content: '\e87f'; }

.elementor-nav-menu--dropdown {
  background-color: #fff;
  font-size: 13px; }
  .elementor-nav-menu--dropdown-none .elementor-nav-menu--dropdown, .elementor-nav-menu--dropdown-none .elementor-menu-toggle {
    display: none; }
  .elementor-nav-menu--dropdown.elementor-nav-menu__container {
    margin-top: 10px;
    transition: max-height 0.3s, transform 0.3s;
    transform-origin: top;
    overflow: auto; }
    .elementor-nav-menu--dropdown.elementor-nav-menu__container .elementor-sub-item {
      font-size: 0.85em; }
  .elementor-nav-menu--dropdown a {
    color: #494c4f;
    justify-content: space-between; }
    .elementor-nav-menu--dropdown a.current {
      background: #373a3c;
      color: #fff; }
    .elementor-nav-menu--dropdown a.disabled {
      color: #b3b2b2; }

ul.elementor-nav-menu--dropdown a, ul.elementor-nav-menu--dropdown a:hover, ul.elementor-nav-menu--dropdown a:focus {
  text-shadow: none;
  border-left: 8px solid transparent; }

.elementor-nav-menu__text-align-center .elementor-nav-menu--dropdown .elementor-nav-menu a {
  justify-content: center; }

.elementor-nav-menu--toggle .elementor-menu-toggle:not(.elementor-active) + .elementor-nav-menu__container {
  transform: scaleY(0);
  max-height: 0; }

.elementor-nav-menu--toggle .elementor-menu-toggle.elementor-active + .elementor-nav-menu__container {
  transform: scaleY(1);
  max-height: 100vh; }

.elementor-nav-menu--stretch .elementor-nav-menu__container.elementor-nav-menu--dropdown {
  position: absolute;
  z-index: 9997; }

@media (min-width: 768px) {
  .elementor-nav-menu--dropdown-mobile .elementor-nav-menu--dropdown, .elementor-nav-menu--dropdown-mobile .elementor-menu-toggle {
    display: none; } }

@media (min-width: 1025px) {
  .elementor-nav-menu--dropdown-tablet .elementor-nav-menu--dropdown, .elementor-nav-menu--dropdown-tablet .elementor-menu-toggle {
    display: none; } }

@media (max-width: 1024px) {
  .elementor-nav-menu--dropdown-tablet .elementor-nav-menu--main {
    display: none; } }

@media (max-width: 767px) {
  .elementor-nav-menu--dropdown-mobile .elementor-nav-menu--main {
    display: none; } }